@import url("https://use.typekit.net/hvr0dog.css");

.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;

    background-image: url("/cover.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.mainFrame {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 5vw, 60px);
    padding: clamp(100px, 10vh, 120px) 100px 100px clamp(20px, 5vw, 60px);
    margin: clamp(40px, 20vh, 250px) 0 0 clamp(10px, 10vw, 350px);
    backdrop-filter: blur(10px);
    background: radial-gradient(65.14% 137.35% at 30.53% 67.98%, rgba(186, 172, 169, 0.3) 0%, rgba(107, 143, 107, 0.3) 100%);
}
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px 120px;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.tagline {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 23px;
}

.flag {
    display: flex;
    flex-direction: column;
}

.yellow {
    height: 36px;
    width: 7px;
    background: rgba(255, 191, 0, 1);
}
.green {
    height: 36px;
    width: 7px;
    background: rgba(0, 103, 3, 1);
}
.red {
    height: 36px;
    width: 7px;
    background: rgba(184, 0, 0, 1);
}
.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "tachyon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(24px, 4vw, 36px);
}
.description {
    width: 80%;
    font-size: clamp(14px, 2vw, 20px);
    width: 100%;
}

.subscribeContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subscribe {
    display: flex;
    flex-direction: row;
    gap: 14px;
}
.subscribeInput {
    width: 200px;
    height: 40px;
    border: none;
    display: flex;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 1);
}

.subscribeButton {
    cursor: pointer;
    width: 160px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: rgba(180, 72, 55, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    transition: transform 0.1s ease-in-out;
    outline: none;
}

.subscribeButton:hover {
    transform: scale(1.05);
}
.subscribeButton:active {
    transform: scale(0.95);
}

.subscribeInput:focus {
    outline: none;
}
.subscribeInput::placeholder {
    color: rgba(255, 255, 255, 1);
}

.error::placeholder {
    color: rgba(184, 0, 0, 1);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px;
}

/* Wrapping */
.tooltipWrapper {
    display: inline-block;
    position: relative;
}

/* Absolute positioning */
.tooltip {
    font-size: 10px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    color: white;
    background: rgba(184, 0, 0, 1);
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
    bottom: -26px;
}

.tooltip::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
    bottom: 100%;
    border-bottom-color: rgba(184, 0, 0, 1);
}

@media (max-height: 1050px) {
    .mainFrame {
        margin-top: clamp(40px, 10vh, 250px);
    }
}

@media (max-height: 700px) {
    .mainFrame {
        margin-top: clamp(10px, 2vh, 250px);
    }
}

@media (max-width: 740px) {
    .subscribe {
        align-items: center;
        flex-direction: column;
    }
    .subscribeInput {
        width: 250px;
    }
    .description {
        text-align: center;
    }

    .header {
        margin: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        gap: 30px;
        padding-top: 0;
        margin-top: -40px;
        position: relative;
        z-index: 10;
    }
}

@media (max-width: 530px) {
    .slogan {
        text-align: center;
    }
}
